html {
  font-size: 10px;
  background: url('../image/background.jpeg') ;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

h1, h2, h3, ul{
  color: #ffffff;
  margin-left: 10%;
}

/* Links */
a:link, 
a:visited {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}

